.decor {
    padding: 170px 0 155px;
    background-image: url(../images/decor/decor-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    @media (max-width: $breakepoint_md) {
        padding: 70px 0 55px;
    }

    &__title {
        @extend %title-font;
        max-width: 480px;
        color: $title;
        font-size: 60px;
        line-height: 80px;
        padding-bottom: 22px;
        margin-bottom: 22px;
        position: relative;

        @media (max-width:540px) {
            font-size: 28px;
            line-height: 36px;
        }

        &::after {
            content: '';
            position: absolute;
            width: 200px;
            height: 1px;
            bottom: 0;
            left: 0;
            background: #6D7278;
        }
    }

    &__text {
        max-width: 540px;
    }
}