.map {
    margin-top: -53px;
    margin-bottom: 50px;

    @media (max-width:1366px) {
        margin-top: 0;
    }

    iframe {
        height: 578px;

        @media (max-width:$breakepoint_md) {
            height: 375px;
        }
    }
}