<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/x-icon" href="/images/header/favicon.png">
    <title>Furniture collection</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans:wght@300;400;600&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.css" />
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" href="./css/index.min.css">
</head>

<body>
    <div class="wrapper">
        {% include "templates/_base/_header.html" %}

        <main class="main">
            <div class="breadcrums">
                <div class="container">
                    <ul class="breadcrums__list">
                        <li class="breadcrums__item">
                            <a class="breadcrums__link" href="index.html">Home</a>
                        </li>

                        <li class="breadcrums__item">
                            <a class="breadcrums__link" href="#">Blog</a>
                        </li>
                    </ul>
                </div>
            </div>

            <section class="blog blog-one">
                <div class="container">
                    <div class="blog__inner">
                        <div class="blog__items">
                            <div class="blog__item blog-one__item">
                                <img class="blog__item-img" src="images/blog/blog-art.jpg" alt="blog">
                                <div class="blog__item-info">
                                    <span class="blog__item-date">August 15, 2020</span> |
                                    <a class="blog__item-autore" href="#">by Ann Summers</a> |
                                    <a class="blog__item-theme" href="#">Bedroom Furniture</a>
                                </div>

                                <a class="blog__item-link" href="#">
                                    <h3 class="blog__item-title">
                                        Red selfies edison bulb four dollar toast humblebrag for the furniture
                                    </h3>
                                </a>

                                <div class="blog-one__text">
                                    <p>
                                        Everyday carry actually neutra authentic kogi shabby chic migas small batch
                                        craft beer. Literally williamsburg tote bag farm-to-table mustache ugh deep v
                                        irony. Af man bun copper mug iPhone enamel pin pug selvage hammock palo santo
                                        godard thundercats coloring book yuccie woke. Ugh pok pok taxidermy pabst enamel
                                        pin edison bulb farm-to-table.
                                        Yuccie portland kickstarter, readymade ramps humblebrag ennui banjo mumblecore
                                        vaporware pickled cray stumptown 8-bit mlkshk. Tumeric tousled austin, kinfolk
                                        scenester authentic craft beer truffaut irony intelligentsia YOLO lomo bushwick
                                        coloring book. Semiotics man bun venmo viral cliche. Tousled yr williamsburg
                                        austin edison bulb cloud bread vegan street art. Locavore food truck trust fund
                                        palo santo asymmetrical, franzen deep v marfa kogi whatever swag pop-up seitan.
                                    </p>

                                    <blockquote>
                                        “Simplicity is not the goal. It is the by-product of a good idea and modest
                                        expectations”

                                        <div class="blog__blockquote-autore">
                                            Paul Rand
                                        </div>
                                    </blockquote>

                                    <p>
                                        Af man bun copper mug iPhone enamel pin pug selvage hammock palo santo godard
                                        thundercats coloring book yuccie woke. Ugh pok pok taxidermy pabst enamel pin
                                        edison bulb farm-to-table.
                                        Yuccie portland kickstarter, readymade ramps humblebrag ennui banjo mumblecore
                                        vaporware pickled cray stumptown 8-bit mlkshk. Tumeric tousled austin, kinfolk
                                        scenester authentic craft beer truffaut irony intelligentsia YOLO lomo bushwick
                                        coloring book. Semiotics man bun venmo viral cliche. Tousled yr williamsburg
                                        austin edison bulb cloud bread vegan street art. Locavore food truck trust fund
                                        palo santo asymmetrical, franzen deep v marfa kogi whatever swag pop-up seitan.
                                    </p>
                                </div>

                                <div class="blog-one__tags">
                                    <h4 class="blog-one__tags-title">
                                        Tags
                                    </h4>

                                    <a class="blog-one__tags-link" href="#">Bedroom furniture</a>
                                    <a class="blog-one__tags-link" href="#">Office furniture</a>
                                    <a class="blog-one__tags-link" href="#">Dining room futniture</a>
                                    <a class="blog-one__tags-link" href="#">Chair</a>
                                </div>

                                <div class="blog-one__links">
                                    <a class="blog-one__link blog-one__link-prev" href="#">
                                        <span>
                                            Cred selfies edison bulb four dollar toast humblebrag
                                        </span>
                                    </a>

                                    <a class="blog-one__link blog-one__link-next" href="#">
                                        <span>
                                            Semiotics fixie four dollar toast, next level
                                        </span>
                                    </a>
                                </div>
                            </div>

                            <div class="blog-one__comments">
                                <h4 class="blog-one__comments-title">
                                    Comments:
                                </h4>

                                <div class="blog-one__comments-item">
                                    <img class="blog-one__comments-avatar" src="images/blog/avatar.png" alt="avatar">

                                    <div class="blog-one__comments-info">
                                        <p class="blog-one__comments-name">
                                            Lea Brown
                                        </p>

                                        <p class="blog-one__comments-date">
                                            August 12, 2020
                                        </p>

                                        <p class="blog-one__comments-text">
                                            Tumeric tousled austin, kinfolk scenester authentic craft beer truffaut
                                            irony intelligentsia YOLO lomo bushwick coloring book. Semiotics man bun
                                            venmo viral cliche
                                        </p>
                                    </div>

                                    <button class="blog-one__reply">
                                        Reply
                                    </button>
                                </div>
                            </div>

                            <form class="blog-one__form">
                                <h4 class="blog-one__form-title">
                                    Post a Comment
                                </h4>

                                <textarea class="blog-one__form-textarea" placeholder="Your comment"></textarea>
                                <input class="blog-one__form-input" type="text" placeholder="Your name">
                                <input class="blog-one__form-input" type="email" placeholder="Your e-mail">
                                <label class="blog-one__form-label">
                                    <input class="blog-one__form-labelinput" type="checkbox">
                                    Remember me
                                </label>

                                <button class="blog-one__form-btn" type="submit">Submit</button>
                            </form>
                        </div>

                        <aside class="aside">
                            <form class="aside__search">
                                <input class="aside__search-input" type="text" placeholder="Search">
                                <button class="aside__search-btn" type="submit">
                                    <img class="aside__search-btn--img" src="images/blog/search-icon.svg" alt="search">
                                </button>
                            </form>

                            <div class="blog__category">
                                <h6 class="blog__category-title">
                                    Categories
                                </h6>

                                <ul class="blog__category-list">
                                    <li class="blog__category-item">
                                        <a class="blog__category-link" href="#">
                                            Dining room (1)
                                        </a>
                                    </li>

                                    <li class="blog__category-item">
                                        <a class="blog__category-link" href="#">
                                            Office furniture (12)
                                        </a>
                                    </li>

                                    <li class="blog__category-item">
                                        <a class="blog__category-link" href="#">
                                            Simple interiror design (2)
                                        </a>
                                    </li>

                                    <li class="blog__category-item">
                                        <a class="blog__category-link" href="#">
                                            Design (4)
                                        </a>
                                    </li>

                                    <li class="blog__category-item">
                                        <a class="blog__category-link" href="#">
                                            Bedroom Furniture (1)
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <div class="resent-posts">
                                <h6 class="resent-posts-title">
                                    Recent Posts
                                </h6>

                                <ul class="resent-posts__list">
                                    <li class="resent-posts__item">
                                        <a class="resent-posts__item-title" href="#">
                                            Cred selfies edison bulb four dollar toast humblebrag
                                        </a>

                                        <span class="resent-posts__date">
                                            August 10, 2020
                                        </span> |

                                        <a class="resent-posts__autor" href="#">
                                            by Ann Summers
                                        </a>
                                    </li>

                                    <li class="resent-posts__item">
                                        <a class="resent-posts__item-title" href="#">
                                            Semiotics fixie four dollar toast, next level woke scenester direct
                                            trade photo booth
                                        </a>

                                        <span class="resent-posts__date">
                                            September 30 ,2020
                                        </span> |

                                        <a class="resent-posts__autor" href="#">
                                            by Ann Summers
                                        </a>
                                    </li>

                                    <li class="resent-posts__item">
                                        <a class="resent-posts__item-title" href="#">
                                            Cred selfies edison bulb four dollar toast humblebrag
                                        </a>

                                        <span class="resent-posts__date">
                                            May 2, 2020
                                        </span> |

                                        <a class="resent-posts__autor" href="#">
                                            by Ann Summers
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <div class="blog__tags">
                                <h6 class="blog__tags-title">
                                    Tags
                                </h6>

                                <a class="blog__tags-tlink" href="#">Dining room futniture</a>
                                <a class="blog__tags-tlink" href="#">Chair</a>
                                <a class="blog__tags-tlink" href="#">Table</a>
                                <a class="blog__tags-tlink" href="#">Bedroom</a>
                                <a class="blog__tags-tlink" href="#">Office Furniture</a>
                            </div>

                            <ul class="blog__social">
                                <li class="blog__social-item">
                                    <a class="blog__social__link" href="#">
                                        <img blog__social-img" src="images/footer/facebook.svg" alt="facebook">
                                    </a>
                                </li>
                                <li class="blog__social-item">
                                    <a class="blog__social__link" href="#">
                                        <img class="blog__social-img" src="images/footer/instagram.svg" alt="instagram">
                                    </a>
                                </li>
                                <li class="blog__social-item">
                                    <a class="blog__social__link" href="#">
                                        <img class="blog__social-img" src="images/footer/pinterest.svg" alt="pinterest">
                                    </a>
                                </li>
                                <li class="blog__social-item">
                                    <a class="blog__social__link" href="#">
                                        <img class="blog__social-img" src="images/footer/whatsapp.svg" alt="whatsapp">
                                    </a>
                                </li>
                                <li class="blog__social-item">
                                    <a class="blog__social__link" href="#">
                                        <img class="blog__social-img" src="images/footer/youtube.svg" alt="youtube">
                                    </a>
                                </li>
                            </ul>
                        </aside>
                    </div>
                </div>
            </section>


        </main>

        {% include "templates/_base/_footer.html" %}
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>

    <script src="./js/index.min.js"></script>
</body>

</html>